.vscode/
.vs/
*.exe
*.log
*.log.*.gz
*.bak
.idea/
debug
*.cert
*.key
/vendor/
*.orig
*.pprof
go.work
go.work.sum
.DS_Store
\.project
dex*key
markets.json
dist/
node_modules/
bin/
bin-v*/
/bworg
wallet/bworg/bworg
wallet/cmd/bisonw/bisonw
wallet/cmd/bisonw/libwallet2_api_c*
wallet/cmd/bisonw-desktop/bisonw-desktop
wallet/cmd/bisonw-desktop/pkg/installers
wallet/cmd/bisonw-desktop/snap/snapcraft.yaml
wallet/cmd/assetseed/assetseed
wallet/cmd/simnet-trade-tests/simnet-trade-tests
wallet/cmd/testbinance/testbinance
wallet/cmd/translationsreport/translationsreport
wallet/cmd/translationsreport/worksheets
wallet/cmd/verifymm/verifymm
wallet/asset/xmr/lib/*/libwallet2_api_c*
wallet/asset/xmr/cmd/mkjson/mkjson
wallet/asset/btc/electrum/example/server/server
wallet/asset/btc/electrum/example/wallet/wallet
wallet/asset/eth/cmd/getgas/getgas
wallet/asset/eth/cmd/deploy/deploy
wallet/webserver/site/template-builder/template-builder
wallet/tor/build
util/politeia/politeia_test.db
util/lexi/cmd/lexidbexplorer/lexidbexplorer
util/evmrelay/cmd/evmrelay/evmrelay
util/testing/btc/harnesschain.tar.gz
util/testing/loadbot/loadbot
wallet/internal/cmd/xmrswap/xmrswap
wallet/internal/cmd/xmrswap/config.json
wallet/internal/libsecp256k1/secp256k1
**/testdata/fuzz
*.db
*.code-workspace
.claude/settings.local.json
